@font-face {font-family:"Pixel NES";src:url("./fonts/Pixel_NES.eot?") format("eot"),url("./fonts/Pixel_NES.woff") format("woff"),url("./fonts/Pixel_NES.ttf") format("truetype"),url("./fonts/Pixel_NES.svg#PixelNES") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Andromeda Bold";src:url("./fonts/Andromeda-Bold.otf") format("opentype");font-weight:bold;font-style:normal;}

/*

@font-face {
  font-family: nec_apc3;
  src: url(./fonts/Web437_NEC_APC3_8x16.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: nec_apc3;
  src: url(./fonts/Web437_Nix8810_M16.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

*/

@font-face {
  font-family: russiangothic;
  src: local("Arial");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0420-42FF
}

@font-face {
  font-family: digital;
  src: url("./fonts/Digital-7.ttf?") format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "perfect dos vga 437 win";
  src: url("./fonts/Perfect DOS VGA 437 Win.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

.jersey-10-charted-regular {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body, #debug {
  image-rendering: pixelated;
  background-color: #000;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: white;
}

body {
  overflow-x: hidden;
  margin: 0;
  margin-top: 10px;
  font-family: russiangothic,ms ui gothic,nec_apc3,Tahoma;
  display: block;
}

@media screen and (min-width: 601px) {
  body:before {
    content: "";
    position: fixed;
    opacity: .2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(https://dimden.dev/images/overlay.png);
    background-position: 0 0;
    animation-name: Static;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    box-shadow: inset 0 0 10em rgb(0 0 0/40%);
  }

  body:after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    opacity: .5;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-image: url(https://dimden.dev/images/overlay2.png);
    /*background-repeat: all;*/
    background-position: 0 0;
    animation-name: Static;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
  }
}

#container, #backside-container {
  width: 900px;
  margin: 0 auto;
}

#lefter {
  position: absolute;
  z-index: 1000;
  top: 0;
  pointer-events: visible;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  /*border: 1px gray solid;*/
  /*border: 2px solid white;*/
  height: 690px;
}

td {
  display: table-cell;
  vertical-align: bottom;
  padding: 0;
}

#maintd {
  width: 675px;
  vertical-align: baseline;
  padding-bottom: 0;
}

#menutd {
  width: 225px;
  vertical-align: baseline;
  position: absolute;
  top: 460px;
  left: 7vw;
}

h1 {
  text-align: center;
}

h2 {
  color: #74ff56;
  font-family: "Pixel NES", serif !important;
  margin: 0;
  /*text-shadow: var(--green-text-shadow)*/
}

.box {
  background-color: #000000a8;
  /*border: 2px solid #383838;*/
  border-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  margin-bottom: 0;
}

#bg {
  z-index: -999;
  image-rendering: pixelated;
  background-color: #000;
  position: absolute;
  background-size: cover;
  width: 100%;
}

@keyframes Static {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: 0 4px
  }
}

.blog-entry {
  border: 1px solid white;
  border-radius: 4px;
  width: auto;
  padding: 15px;
  /*background-color: #002100;*/
}

#hotel {
  float: right;
  right: 55px;
  height: 1px;
  font-size: 30px;
  top: 0px;
  position: relative;
  color: #ffda7d;
  text-shadow: 0 0 10px #ffffff00, 0 0 20px #ffffff80, 0 0 30px rgba(255, 240, 148, 0.35), 0 0 40px #00e6b200, 0 0 50px #00e6bd3d, 0 0 60px #b200e629, 0 0 70px #a700e657;
  user-select: none;
  font-family: MS Gothic,Tahoma;
  animation: flickering .1s infinite;
  z-index: 2;
}

b {
  font-weight: bold;
}

#messages {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: scroll;
  padding-right: 0;
  height: 260px;
}
@keyframes flickering {
  0% {
    opacity: 0.63;
  }
}

.chat-msg {
  max-width: 360px;
  word-break: break-word;
}

.chat-date {
  color: #5d5d5d;
  font-size: 12px;
  padding-right: 5px;
  float: right;
}

.chat-name {
  color: #ff7ddb;
}

.chat-title {
  color: #ff7ddb;
}

.chat-message {
  border: 1px white solid;
  padding: 10px;
}

.sub-log {
  padding-top: 5px;
}

.sub-log div {
  padding-top: 5px;
}

#send {
  background-color: #000;
  color: #fff;
  border: 1px solid #383838;
  font-family: MS Gothic,monospace;
  padding: 3px 27px;
  cursor: pointer;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

#message {
  bottom: 5px;
  background-color: #000;
  color: #fff;
  border: 1px solid #383838;
  font-family: MS Gothic,monospace;
  padding: 3px;
  width: 508px;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

#chat_title {
  color: #ff7ddb;
}

@keyframes slide {
  0% {
    transform: translate(800px);
  }
  50% {
    transform: translate(-800px);
  }
  100% {
    transform: translate(800px);
  }
}

.letter {
  display: inline;
  height: 60px;
}

#logo {
  text-align: center;
  padding-top: 5px;
  animation: flickeringAlt 4s infinite;
  margin-right: 50px;
}

#logo img {
  width: 60px;
  height: 60px;
}

@keyframes flickeringAlt {
  0% {
    opacity: 0.63;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.63;
  }
}

.spinny {
  animation: spinnyDance 4s infinite;
  display: inline-block;
}

@keyframes spinnyDance {
  0% {
    rotation: 90deg;
  }

  50% {
    rotation: 45deg;
  }

  100% {
    rotation: 90deg;
  }
}

.overlay {
  display: block;
  position: absolute;
  height: 2000px;
  width: 100%;
  background: #000000;
  opacity: 60%;
  z-index: 1;
  left: 0;
  top: 0;
  animation: flickeringAlt2 6s infinite;
}

#chat {
  position: relative;
  border-left: 6px solid #481c41;
  height: 300px;
  width: 500px;
}

@keyframes flickeringAlt2 {
  0% {
    opacity: 0.63;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.63;
  }
}

#root {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 4px;
  padding-top: 0;
  padding-left: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mainbox {
  border-left: 6px solid #80cb5a;
  /*background-color: rgba(49, 255, 12, .1);*/
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

#warning {
  animation: blink 2s infinite;
}

#music {
  max-width: 365px;
  vertical-align: baseline;
  overflow: hidden;
  border-left: 6px solid #3bdffd;
  margin-top: 10px;
}

#music_title {
  color: deepskyblue;
}

#music_element {
  margin-top: 25px;
}

#fullBlock {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  border: 1px solid white;
  padding: 2px;
  border-radius: 2px;
}

#fullBlock p {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.scroll-content {
  padding-top: 15px;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  overflow: hidden;

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

.scroll-content:hover {
  animation-play-state: paused;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(120%); }
  to { -moz-transform: translateX(-80%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(120%); }
  to { -webkit-transform: translateX(-80%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(120%);
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -moz-transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
}

.adHead1 {
  font-family: "Perfect DOS VGA 437 Win";

}

#cool_guys_box {
  overflow: hidden;
}

#awesome_sub_box {
  border: none;
}

@keyframes bob {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.letter {
  transition: .2s;
  animation: bob 8s infinite;
}

.letter:hover {
  scale: 110%;
}

#logo p {
  animation: spinny 7s infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

table {
  /*background: #000000;*/
  padding: 6px;
  padding-bottom: 0;
  border-radius: 16px;
}

#road {
  background: url("images/road 1.jpg") repeat-x;
  background-size: 100% 100%;
  height: 180px;
  overflow: hidden;
}

#kar {
  position: absolute;
  width: 8000px;
  height: 170px;
  top: 820px;
  animation: drive 17s infinite;
  background-image: url("images/kar-long-2-gif.gif");
}

@keyframes drive {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-5000px);
  }
}

/*
.hole {
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
}
*/

#road_shadow {
  animation: drive 17s infinite;
  height: 180px;
  width: 8000px;
  background: url("images/new shadow 1.png") repeat-x;
  z-index: 100;
  position: relative;
  opacity: .7;
}

.exter {
  align-items: center;
}

.pole {
  width: 50px;
  height: calc( 100% - 300px );
  background: black;
  margin: 0 auto;
  border-bottom: 4px solid black;
}

#blogPole {
  border-left: 4px solid greenyellow;
  border-right: 4px solid greenyellow;
  height: 400px;
}

#chatPole {
  border-left: 4px solid #d92fff;
  border-right: 4px solid #d92fff;
  height: 226px;
}

#musicPole {
  border-left: 4px solid #2fffff;
  border-right: 4px solid #2fffff;
  height: 340px;
}